.projects-container {
    display: flex;
    position: relative;
    z-index: 0;
}

.title-section {
    display: flex;
    margin: auto;
}

.title {
    padding: 1px;
    letter-spacing: 2px;
}

.project-image-container {
    display: flex;
    overflow: hidden;
}

.github-link-container {
    gap: 2.5rem;
    margin-left: auto;
    position: relative;
    z-index: 5;
}

.details {
    display: flex;
    margin-top: 1%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding-block-start: 1%;
    padding-block-end: 1%;
    background-color: rgba(128, 128, 128, 0.137);
    width: 91%;
}

.button-container {
    z-index: 2;
    position: absolute;
    border: none;
    border-radius: 8px;
    background-color: #4646460e;
    display: flex;
    pointer-events: none;
}

.slider-button {
    border: 1px solid transparent;
    font-size: 3em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: color 0.25s;
    display: flex;
    pointer-events: auto;
}

.external-arrow {
    text-wrap: nowrap;
}
