@media (min-width: 1280px) {
    .picture-section {
        height: unset;
    }
    .image-container {
        width: 58%;
        margin-block-start: unset;
        margin-inline-start: 12%;
        position: relative;
    }

    .text-container {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items:end;
        text-align: start;
        width: 90%;
        top:25%;
        margin-right: unset;
        font-size: 150%;
    }
    
    .greeting {
        text-align: unset;
        /* border: 1px solid rgba(220, 20, 60, 0.315); */
        width: 40%;
        font-size: 120%;
        color:rgb(189, 189, 253);
    }
    
    .introduction {
        width: 39%;
        /* border: 1px solid rgba(255, 192, 203, 0.219) */
        display: unset;
    }
}
/* --------------------------------------end desktop---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mid------------------- */

@media (min-width: 915px) and (max-width: 1280px) {
    .picture-section {
        height: unset;
    }
    .image-container {
        width: 58%;
        margin-block-start: unset;
        margin-inline-start: 12%;
        position: relative;
    }

    .text-container {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: start;
        width: 87%;
        top:12%;
        margin-right: auto;
        font-size: 190%;
    }
    
    .greeting {
        text-align: unset;
        /* border: 1px solid rgba(220, 20, 60, 0.315); */
        width: 40%;
        font-size: 120%;
        color:rgb(189, 189, 253);
    }
    
    .introduction {
        width: 39%;
        /* border: 1px solid rgba(255, 192, 203, 0.219) */
        display: unset;
    }
}
/* --------------------------------------end mid---------------- */
/* ---------------------------------------------------------------- */
/* --------------------------------------mobile------------------- */

@media (max-width: 915px) {
    .picture-section {
        height: unset;
    }

    .image-container {
        width: 58%;
        margin-block-start: unset;
        margin-inline-start: 12%;
        position: relative;
    }

    .text-container {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: start;
        width: 90%;
        top:12%;
        margin-right: auto;
        font-size: 150%;
    }
    
    .greeting {
        text-align: unset;
        /* border: 1px solid rgba(220, 20, 60, 0.315); */
        width: 40%;
        font-size: 120%;
        color:rgb(189, 189, 253);
    }
    
    .introduction {
        width: 39%;
        display: flex;
        /* border: 1px solid rgba(255, 192, 203, 0.219) */
    }
}

/* ------------------------------------------------------ */
/* ----------------------- Surface duo------------------- */
@media (max-width: 550px) {
    .picture-section {
        height: 70vh;
        flex-direction: column;
    }

    .image-container {
        width: 58%;
        margin-block-start: 99%;
        margin-inline-start: 8%;
        /* position: relative; */
    }

    .text-container {
        /* position: absolute; */
        /* z-index: 4; */
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: start;
        width: 90%;
        top:8%;
        margin-right: auto;
        font-size: 150%;
        text-align: justify;
    }
    
    .greeting {
        text-align: end;
        /* border: 1px solid rgba(220, 20, 60, 0.315); */
        width: inherit;
        font-size: 120%;
        color:rgb(189, 189, 253);
    }
    
    .introduction {
        width: inherit;
        display: block;
        text-align: justify;
        /* border: 1px solid rgba(255, 192, 203, 0.219) */
    }
}

/* ------------------------------------------------------ */
/* -------------------------------------- mobile---------------- */

@media (max-width: 380px) {
    .picture-section {
        height: 80vh;
        flex-direction: column;
    }

    .image-container {
        width: 58%;
        margin-block-start: 90%;
        margin-inline-start: 8%;
        /* position: relative; */
    }

    .text-container {
        /* position: absolute; */
        /* z-index: 4; */
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: start;
        width: 90%;
        top:3%;
        margin-right: auto;
        font-size: 150%;
        text-align: justify;
    }
    
    .greeting {
        text-align: end;
        /* border: 1px solid rgba(220, 20, 60, 0.315); */
        width: inherit;
        font-size: 120%;
        color:rgb(189, 189, 253);
    }
    
    .introduction {
        width: inherit;
        display: block;
        text-align: justify;
        /* border: 1px solid rgba(255, 192, 203, 0.219) */
    }
}
/* ---------------------------------------------------------------- */
/* ------------------------------------------end of mobile----------- */
.picture-section {
    width: 95%;
    display: flex;
    margin-block-start: 5%;
    position: relative;
    box-shadow: 
    10px 10px 5px 0px rgba(240, 99, 84, 0.1),
    10px 10px 70px 0px rgba(255,255,255,0.15);
    /* leave space for border */
    border: 5px solid transparent;
    /* make sure that entire border is filled with the gradient */
   border-image-slice: 1; 
   /* custom angle value */
    --angle: 0deg;
   border-image: linear-gradient(var(--angle), #733ad58f, rgba(241, 81, 63, 0.705)) 1;
   animation: 4s rotateBorder linear infinite;
}

/* delay appearance of introduction by 1s */
.introduction {
    opacity: 0;
    animation: softAppearance 1s linear 1s forwards;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.8;
    border-bottom: 1px solid rgba(250, 128, 114, 0.767);
    filter: drop-shadow(0 2px 3px); 
    animation: float 5s ease-in-out infinite;
}

/* Picture float animation */
@keyframes float {
    0%, 100% { transform: translateY(0%);}
    50% { transform: translateY(1%);}
}


/* Picture background animation */
.gradient {
    background: linear-gradient(200deg, #212523, #465551);
    background-size: 400% 400%;
    width: 100%;
    height: 100%;

    -webkit-animation: move 10s ease infinite;
    -moz-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
    position: relative;
}

@-webkit-keyframes move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes move {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* ----------------- experimental Picture border animation------------ */
/* rotate the angle */
@keyframes rotateBorder {
    to {
        --angle: 360deg;
      }
  }
/* ----------------- experimental Picture border animation------------ */