.card-section {
    display: flex; 
}

.card {
    border: 1px solid rgba(98, 155, 241, 0.363); 
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 3%;
    box-shadow: 0 0.5vw 1vw rgba(128, 128, 128, 0.678);
    background: linear-gradient(to bottom, rgba(168, 170, 221, 0.250) 0%, rgba(168, 170, 221, 0.100) 100%);
}

.card-first-child {
    font-weight: 600;
    font-size: 120%;
    letter-spacing: 0.1vw;
}

.card-second-child {
    color: gray;
}

.per-scholas-logo {
    position: absolute;
    z-index: -1;
}

.per-scholas-logo::after {
    content: '';
    display: block; 
    background-color: goldenrod;
    clip-path: polygon(93.38% 74.87%, 63.58% 69.79%, 57.6% 99.42%, 42.99% 72.95%, 16.1% 86.75%, 27.69% 58.83%, 0.13% 46.41%, 29.18% 38.06%, 21.71% 8.77%, 46.35% 26.28%, 64.59% 2.18%, 66.27% 32.36%, 96.49% 31.59%, 73.94% 51.72%);
    background-size: cover; 
    animation: shine 5s ease infinite;
}

.per-scholas-logo::before {
    content: '';
    display: block; 
    background-color: goldenrod;
    clip-path: polygon(93.38% 74.87%, 63.58% 69.79%, 57.6% 99.42%, 42.99% 72.95%, 16.1% 86.75%, 27.69% 58.83%, 0.13% 46.41%, 29.18% 38.06%, 21.71% 8.77%, 46.35% 26.28%, 64.59% 2.18%, 66.27% 32.36%, 96.49% 31.59%, 73.94% 51.72%);
    background-size: cover; 
    animation: shine 5s ease infinite;
}
