.top-certifications {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-certifications p {
    border: 1px dashed rgba(240, 248, 255, 0.5);
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 2%;
    padding-inline-end: 2%;
}

.cert {
    cursor: pointer;
}

.cert:hover {
    background-color: rgba(177, 177, 177, 0.1);
}
