@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

#root {
  text-align: center;
  font-family: "Exo", sans-serif;
}

body {
  position: relative;
  margin: 0;
}

body::before {
  content: '';
  opacity: 0.05;
  position: absolute;
  z-index: -1;
  background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}

.App {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-block-end: 7%;
}

header {
  text-align: start;
  margin: 5%;
  font-size: 195%;
  letter-spacing: 0.6vw;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  position: relative;
}

.display-flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.delayedAppear {
  animation: softAppearance 1s linear forwards;
  animation-delay: 0.4s;
}

.appear {
  animation: softAppearance 1s linear forwards;
}

@keyframes softAppearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-out {
  transform: translateX(-110%);
  opacity: 0;
}
